In [1]:
import pandas as pd

In [4]:
# need to have xlrd installed: > conda install xlrd
xl_file = pd.ExcelFile('./files/stackoverflow.xlsx')
type(xl_file)

pandas.io.excel.ExcelFile

In [5]:
xl_file.sheet_names

['Posts Raw', 'Posts', 'Users']

In [10]:
# create pandas dataframe from excel file
xl_df = xl_file.parse()  # no parameters: imports the first sheet of the workbooks
xl_df.head(3)

,5,1,2014-05-13T23:58:30.457,9,448,2014-05-14T00:36:31.077,How can I do simple machine learning without hard-coding behavior?,<machine-learning>,1.1,1.2,1.3,2014-05-14T14:40:25.950
0,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN

In [13]:
# use read_excel to import the first sheet into a pandas dataframe
xl_posts = pd.read_excel('./files/stackoverflow-one.xlsx')
print(type(xl_posts))
xl_posts.head(3)

<class 'pandas.core.frame.DataFrame'>

,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
2,2,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750

In [14]:
xl_posts.columns

Index(['Id', 'PostTypeId', 'Location', 'Name', 'CreationDate',
       'LastUpdateDate', 'ViewCount', 'Reputation'],
      dtype='object')

In [15]:
# import specific columns
pd.read_excel('./files/stackoverflow-one.xlsx',usecols=[0,3]).columns

Index(['Id', 'Name'], dtype='object')

In [20]:
# import columns by excel column names in a slice
pd.read_excel('./files/stackoverflow-one.xlsx',usecols='A:D').columns

Index(['Id', 'PostTypeId', 'Location', 'Name'], dtype='object')

In [19]:
# import columns by excel column names in a list, so only the columns listed are imported
pd.read_excel('./files/stackoverflow-one.xlsx',usecols='A,D').columns

Index(['Id', 'Name'], dtype='object')

In [29]:
# importing multiple sheets
print(xl_file.sheet_names)
xl_dict = pd.read_excel('./files/stackoverflow.xlsx',sheet_name=None)  # sheet_name=None results in all sheets imported
print(type(xl_dict))
print(xl_dict.keys())

['Posts Raw', 'Posts', 'Users']
<class 'collections.OrderedDict'>
odict_keys(['Posts Raw', 'Posts', 'Users'])

In [31]:
# the sheets have been imported as the values of the OderedDict
print(type(xl_dict['Posts']))
xl_dict['Posts'].head(3)

<class 'pandas.core.frame.DataFrame'>

,Id,PostTypeId,CreationDate,Score,ViewCount,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate
0,5,1,2014-05-13T23:58:30.457,9,448.0,2014-05-14T00:36:31.077,How can I do simple machine learning without h...,<machine-learning>,1.0,1,1.0,2014-05-14T14:40:25.950
1,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
2,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN

In [32]:
# can import a specific set of sheets
pd.read_excel('./files/stackoverflow.xlsx',sheet_name=['Posts','Users']).keys()

odict_keys(['Posts', 'Users'])

In [36]:
# can import a specific sheet as a pandas dataframe
xl_df = pd.read_excel('./files/stackoverflow.xlsx',sheet_name='Users')
print(xl_df.columns)
xl_df.head(3)

Index(['Unnamed: 0', 'Id', 'PostTypeId', 'Location', 'Name', 'CreationDate',
       'LastUpdateDate', 'ViewCount', 'Reputation'],
      dtype='object')

,Unnamed: 0,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,NaN,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,NaN,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
2,NaN,2,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750

In [37]:
# can import a specific set of columns from a specific sheet
pd.read_excel('./files/stackoverflow.xlsx',sheet_name='Users',usecols=range(1,9)).head(2)  # skipping first empty column

,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250

In [40]:
# can import a specific set of columns from a specific sheet (by integer position)
pd.read_excel('./files/stackoverflow.xlsx',sheet_name=2,usecols=range(1,9)).head()

,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
2,2,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750
3,3,101,Curridabat,Juliana,2014-05-13T23:15:34.483,2018-02-21T21:19:57.513,5457,1100
4,4,101,Republic of Texas,Lucia,2014-05-13T23:16:09.937,2014-08-04T15:25:54.810,7845,1100

In [41]:
# can skip rows at the top
pd.read_excel('./files/stackoverflow.xlsx',sheet_name=2,usecols=range(1,9),skiprows=4).head(2)

,2,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750
0,3,101,Curridabat,Juliana,2014-05-13T23:15:34.483,2018-02-21T21:19:57.513,5457,1100
1,4,101,Republic of Texas,Lucia,2014-05-13T23:16:09.937,2014-08-04T15:25:54.810,7845,1100

In [42]:
# can take a specific number of rows
pd.read_excel('./files/stackoverflow.xlsx',sheet_name=2,usecols=range(1,9),nrows=2).head()

,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250

In [43]:
# can skip and take a specific number of rows
pd.read_excel('./files/stackoverflow.xlsx',sheet_name=2,usecols=range(1,9),skiprows=2,nrows=2).head()

,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820.1,780,679
0,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
1,2,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750

In [44]:
# pandas infers the column datatypes
pd.read_excel('./files/stackoverflow.xlsx',sheet_name='Users').dtypes

Unnamed: 0        float64
Id                  int64
PostTypeId          int64
Location           object
Name               object
CreationDate       object
LastUpdateDate     object
ViewCount           int64
Reputation          int64
dtype: object

In [45]:
# can define column types
pd.read_excel('./files/stackoverflow.xlsx',sheet_name='Users',dtype={'PostTypeId': str}).dtypes

Unnamed: 0        float64
Id                  int64
PostTypeId         object
Location           object
Name               object
CreationDate       object
LastUpdateDate     object
ViewCount           int64
Reputation          int64
dtype: object

In [52]:
# can use converters to transform column data
pd.read_excel('./files/stackoverflow.xlsx',sheet_name='Users',usecols=range(1,9),
             converters={'Id': lambda x: x+1000}).head(3)

,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,999,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,1001,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
2,1002,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750

In [55]:
# can keep empty values
pd.read_excel('./files/stackoverflow.xlsx',sheet_name='Posts',usecols=[0,7,8],keep_default_na=False).head()

   Id                        Tags AnswerCount
0   5          <machine-learning>           1
1   7    <education><open-source>           3
2   9
3  10
4  14  <data-mining><definitions>           4