### Importing from SAS using SAS7BDAT

In [8]:
from sas7bdat import SAS7BDAT

In [9]:
with SAS7BDAT('./files/posts-100.sas7bdat') as sas_file:
    print(sas_file)
    sas_df = sas_file.to_data_frame()
    
type(sas_df)

[posts-100.sas7bdat] header length 65536 != 8192

SAS7BDAT file: posts-100.sas7bdat

pandas.core.frame.DataFrame

In [10]:
sas_df.head()

,AcceptedAnswerId,AnswerCount,CommentCount,FavoriteCount,Id,LastEditorUserId,OwnerUserId,ParentId,PostTypeId,Score,ViewCount
0,NaN,1.0,1.0,1.0,5.0,NaN,5.0,NaN,1.0,9.0,448.0
1,10.0,3.0,4.0,1.0,7.0,97.0,36.0,NaN,1.0,4.0,388.0
2,NaN,NaN,0.0,NaN,9.0,NaN,51.0,5.0,2.0,5.0,NaN
3,NaN,NaN,1.0,NaN,10.0,NaN,22.0,7.0,2.0,12.0,NaN
4,29.0,4.0,1.0,4.0,14.0,322.0,66.0,NaN,1.0,21.0,1243.0

In [12]:
sas_df.columns

Index(['AcceptedAnswerId', 'AnswerCount', 'CommentCount', 'FavoriteCount',
       'Id', 'LastEditorUserId', 'OwnerUserId', 'ParentId', 'PostTypeId',
       'Score', 'ViewCount'],
      dtype='object')

In [15]:
sas_file.header

Header:
	col_count_p1: 11
	col_count_p2: 0
	column_count: 11
	compression: None
	creator: None
	creator_proc: None
	date_created: 2018-10-12 21:26:30.506552
	date_modified: 2018-10-12 21:26:30.506552
	endianess: little
	file_type: DATA
	filename: posts-100.sas7bdat
	header_length: 65536
	lcp: 8
	lcs: 0
	mix_page_row_count: 706
	name: IMPORT2
	os_name: x86_64
	os_type: 2.6.32-696.20.1.
	page_count: 1
	page_length: 65536
	platform: unix
	row_count: 100
	row_length: 88
	sas_release: 9.0401M5
	server_type: Linux
	u64: True

Contents of dataset "IMPORT2":
Num Name                Type   Length Format Label
--- ------------------- ------ ------ ------ -----
  1 AcceptedAnswerId    number      8 BEST
  2 AnswerCount         number      8 BEST
  3 CommentCount        number      8 BEST
  4 FavoriteCount       number      8 BEST
  5 Id                  number      8 BEST
  6 LastEditorUserId    number      8 BEST
  7 OwnerUserId         number      8 BEST
  8 ParentId            number      8 BEST
  9 PostTypeId          number      8 BEST
 10 Score               number      8 BEST
 11 ViewCount           number      8 BEST

In [11]:
dir(sas_file)

['COMPRESSION_LITERALS',
 'DATE_FORMAT_STRINGS',
 'DATE_TIME_FORMAT_STRINGS',
 'DECOMPRESSORS',
 'RDC_COMPRESSION',
 'RLE_COMPRESSION',
 'TIME_FORMAT_STRINGS',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_file',
 '_iter',
 '_make_logger',
 '_open_files',
 '_process_byte_array_with_data',
 '_read_bytes',
 '_read_next_page',
 '_read_val',
 '_update_format_strings',
 'align_correction',
 'cached_page',
 'close',
 'column_data_lengths',
 'column_data_offsets',
 'column_names',
 'column_names_strings',
 'column_types',
 'columns',
 'convert_file',
 'current_file_position',
 'current_page_block_count',
 'current_page_data_subheader_pointers',
 'current_page_subheaders_count',
 'current_page_type',
 'current_row',
 'encoding',
 'encoding_errors',
 'endianess',
 'header',
 'logger',
 'path',
 'properties',
 'readlines',
 'skip_header',
 'to_data_frame',
 'u64']

### Importing SAS using pandas

In [17]:
import pandas as pd

In [18]:
posts_sas = pd.read_sas('./files/posts-100.sas7bdat')
posts_sas.head()

,AcceptedAnswerId,AnswerCount,CommentCount,FavoriteCount,Id,LastEditorUserId,OwnerUserId,ParentId,PostTypeId,Score,ViewCount
0,NaN,1.0,1.0,1.0,5.0,NaN,5.0,NaN,1.0,9.0,448.0
1,10.0,3.0,4.0,1.0,7.0,97.0,36.0,NaN,1.0,4.0,388.0
2,NaN,NaN,0.0,NaN,9.0,NaN,51.0,5.0,2.0,5.0,NaN
3,NaN,NaN,1.0,NaN,10.0,NaN,22.0,7.0,2.0,12.0,NaN
4,29.0,4.0,1.0,4.0,14.0,322.0,66.0,NaN,1.0,21.0,1243.0

In [19]:
posts_sas.columns

Index(['AcceptedAnswerId', 'AnswerCount', 'CommentCount', 'FavoriteCount',
       'Id', 'LastEditorUserId', 'OwnerUserId', 'ParentId', 'PostTypeId',
       'Score', 'ViewCount'],
      dtype='object')

In [22]:
# read in chunks - useful for very large files
posts_sas_reader = pd.read_sas('./files/posts-100.sas7bdat', chunksize=3)
print(type(posts_sas_reader))
chunk = posts_sas_reader.read()
print(type(chunk))
chunk.head()

<class 'pandas.io.sas.sas7bdat.SAS7BDATReader'>
<class 'pandas.core.frame.DataFrame'>

,AcceptedAnswerId,AnswerCount,CommentCount,FavoriteCount,Id,LastEditorUserId,OwnerUserId,ParentId,PostTypeId,Score,ViewCount
0,NaN,1.0,1.0,1.0,5.0,NaN,5.0,NaN,1.0,9.0,448.0
1,10.0,3.0,4.0,1.0,7.0,97.0,36.0,NaN,1.0,4.0,388.0
2,NaN,NaN,0.0,NaN,9.0,NaN,51.0,5.0,2.0,5.0,NaN

### Importing Stata file

In [23]:
import pandas as pd

In [25]:
df = pd.read_stata('./files/posts-100.dta')
print(df.columns)
df.head()

Index(['index', 'Id', 'PostTypeId', 'CreationDate', 'Score', 'ViewCount',
       'Body', 'OwnerUserId', 'LastActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'ClosedDate',
       'AcceptedAnswerId', 'LastEditorUserId', 'LastEditDate', 'ParentId',
       'CommunityOwnedDate', 'LastEditorDisplayName', 'OwnerDisplayName'],
      dtype='object')

,index,Id,PostTypeId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastActivityDate,Title,...,CommentCount,FavoriteCount,ClosedDate,AcceptedAnswerId,LastEditorUserId,LastEditDate,ParentId,CommunityOwnedDate,LastEditorDisplayName,OwnerDisplayName
0,0,5,1,2014-05-13T23:58:30.457,9,448,<p>I've always been interested in machine lear...,5,2014-05-14T00:36:31.077,How can I do simple machine learning without h...,...,1,1,2014-05-14T14:40:25.950,0,0,,0,,,
1,1,7,1,2014-05-14T00:11:06.457,4,388,"<p>As a researcher and instructor, I'm looking...",36,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,...,4,1,2014-05-14T08:40:54.950,10,97,2014-05-16T13:45:00.237,0,,,
2,2,9,2,2014-05-14T00:36:31.077,5,0,"<p>Not sure if this fits the scope of this SE,...",51,2014-05-14T00:36:31.077,,...,0,0,,0,0,,5,,,
3,3,10,2,2014-05-14T00:53:43.273,12,0,"<p>One book that's freely available is ""The El...",22,2014-05-14T00:53:43.273,,...,1,0,,0,0,,7,,,
4,4,14,1,2014-05-14T01:25:59.677,21,1243,<p>I am sure data science as will be discussed...,66,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,...,1,4,,29,322,2014-06-17T16:17:20.473,0,,,

### Importing HDF5 data with H5PY and Pandas

In [27]:
# using h5py to import HDF5 data
import h5py

h5_file = h5py.File('./files/posts-100.h5','r')

In [31]:
dataset_h5 = h5_file['posts']
print(type(dataset_h5))
dataset_h5

<class 'h5py._hl.group.Group'>

In [32]:
for post in dataset_h5['table']:
    print(post)

(0, 5, 1, b'2014-05-13T23:58:30.457', 9, 448, b'<p>I\'ve always been interested in machine learning, but I can\'t figure out one thing about starting out with a simple "Hello World" example - how can I avoid hard-coding behavior?</p><p>For example, if I wanted to "teach" a bot how to avoid ran', 5, b'2014-05-14T00:36:31.077', b'How can I do simple machine learning without hard-coding behavior?', b'<machine-learning>', 1, 1, 1, b'2014-05-14T14:40:25.950', 0, 0, b'', 0, b'', b'', b'')
(1, 7, 1, b'2014-05-14T00:11:06.457', 4, 388, b"<p>As a researcher and instructor, I'm looking for open-source books (or similar materials) that provide a relatively thorough overview of data science from an applied perspective. To be clear, I'm especially interested in a thorough overview t", 36, b'2014-05-16T13:45:00.237', b'What open-source books (or other materials) provide a relatively thorough overview of data science?', b'<education><open-source>', 3, 4, 1, b'2014-05-14T08:40:54.950', 10, 97, b'2014-05-16T13:45:00.237', 0, b'', b'', b'')
(2, 9, 2, b'2014-05-14T00:36:31.077', 5, 0, b"<p>Not sure if this fits the scope of this SE, but here's a stab at an answer anyway.</p><p>With all AI approaches you have to decide what it is you're modelling and what kind of uncertainty there is. Once you pick a framework that allows model", 51, b'2014-05-14T00:36:31.077', b'', b'', 0, 0, 0, b'', 0, 0, b'', 5, b'', b'', b'')
(3, 10, 2, b'2014-05-14T00:53:43.273', 12, 0, b'<p>One book that\'s freely available is "The Elements of Statistical Learning" by Hastie, Tibshirani, and Friedman (published by Springer): <a href="http://statweb.stanford.edu/~tibs/ElemStatLearn/">see Tibshirani\'s website</a>.</p><p>Another fa', 22, b'2014-05-14T00:53:43.273', b'', b'', 0, 1, 0, b'', 0, 0, b'', 7, b'', b'', b'')
(4, 14, 1, b'2014-05-14T01:25:59.677', 21, 1243, b'<p>I am sure data science as will be discussed in this forum has several synonyms or at least related fields where large data is analyzed.</p><p>My particular question is in regards to Data Mining.  I took a graduate class in Data Mining a few ', 66, b'2014-06-20T17:36:05.023', b'Is Data Science the Same as Data Mining?', b'<data-mining><definitions>', 4, 1, 4, b'', 29, 322, b'2014-06-17T16:17:20.473', 0, b'', b'', b'')
(5, 15, 1, b'2014-05-14T01:41:23.110', 2, 543, b'<p>In which situations would one system be preferred over the other? What are the relative advantages and disadvantages of relational databases versus non-relational databases?</p>', 64, b'2014-05-14T01:41:23.110', b'What are the advantages and disadvantages of SQL versus NoSQL in data science?', b'<databases>', 0, 1, 0, b'2014-05-14T07:41:49.437', 0, 0, b'', 0, b'', b'', b'')
(6, 16, 1, b'2014-05-14T01:57:56.880', 18, 322, b'<p>I use <a href="http://www.csie.ntu.edu.tw/~cjlin/libsvm/">Libsvm</a> to train data and predict classification on <strong>semantic analysis</strong> problem. But it has a <strong>performance</strong> issue on large-scale data, because semanti', 63, b'2014-05-17T16:24:14.523', b'Use liblinear on big data for semantic analysis', b'<machine-learning><bigdata><libsvm>', 2, 0, 0, b'', 46, 84, b'2014-05-17T16:24:14.523', 0, b'', b'', b'')
(7, 17, 5, b'2014-05-14T02:49:14.580', 0, 0, b'<p><a href="http://www.csie.ntu.edu.tw/~cjlin/libsvm/" rel="nofollow">LIBSVM</a> is a library for support vector classification (SVM) and regression.It was created by Chih-Chung Chang and Chih-Jen Lin in 2001.</p>', 63, b'2014-05-16T13:44:53.470', b'', b'', 0, 0, 0, b'', 0, 63, b'2014-05-16T13:44:53.470', 0, b'', b'', b'')
(8, 18, 4, b'2014-05-14T02:49:14.580', 0, 0, b'', -1, b'2014-05-14T02:49:14.580', b'', b'', 0, 0, 0, b'', 0, -1, b'2014-05-14T02:49:14.580', 0, b'', b'', b'')
(9, 19, 1, b'2014-05-14T03:56:20.963', 73, 7993, b'<p>Lots of people use the term <em>big data</em> in a rather <em>commercial</em> way, as a means of indicating that large datasets are involved in the computation, and therefore potential solutions must have good performance. Of course, <em>big', 84, b'2018-05-01T13:04:43.563', b'How big is big data?', b'<bigdata><scalability><efficiency><performance>', 12, 5, 20, b'', 37, 10119, b'2015-06-11T20:15:28.720', 0, b'', b'', b'')
(10, 20, 1, b'2014-05-14T05:37:46.780', 17, 311, b"<p>we created this social network application for eLearning purposes, it's an experimental thing we are researching on in our lab. it has been used by some case studies for a while and the data on our relational DBMS (SQL Server 2008) is gettin", 96, b'2017-08-29T11:26:37.137', b'the data on our relational DBMS is getting big, is it the time to move to NoSQL?', b'<nosql><relational-dbms>', 5, 1, 1, b'', 26, 0, b'', 0, b'', b'', b'')
(11, 21, 2, b'2014-05-14T05:44:29.340', 29, 0, b'<p>As you rightly note, these days "big data" is something everyone wants to say they\'ve got, which entails a certain looseness in how people define the term.  Generally, though, I\'d say you\'re certainly dealing with big data if the scale is su', 14, b'2014-05-14T05:44:29.340', b'', b'', 0, 0, 0, b'', 0, 0, b'', 19, b'', b'', b'')
(12, 22, 1, b'2014-05-14T05:58:21.927', 99, 105748, b'<p>My data set contains a number of numeric attributes and one categorical.</p><p>Say, <code>NumericAttr1, NumericAttr2, ..., NumericAttrN, CategoricalAttr</code>, </p><p>where <code>CategoricalAttr</code> takes one of three possible values: <c', 97, b'2018-07-11T11:22:26.170', b'K-Means clustering for mixed numeric and categorical data', b'<data-mining><clustering><octave><k-means><categorical-data>', 9, 3, 80, b'', 24, 97, b'2014-06-10T07:53:48.253', 0, b'', b'', b'')
(13, 23, 2, b'2014-05-14T06:06:13.603', 8, 0, b'<p>Data Science specialization from Johns Hopkins University at Coursera would be a great start.<a href="https://www.coursera.org/specialization/jhudatascience/1">https://www.coursera.org/specialization/jhudatascience/1</a></p>', 97, b'2014-05-14T06:06:13.603', b'', b'', 0, 0, 0, b'', 0, 0, b'', 7, b'', b'', b'')
(14, 24, 2, b'2014-05-14T06:26:27.163', 89, 0, b'', 14, b'2016-11-29T20:06:51.543', b'', b'', 0, 9, 0, b'', 0, 14, b'2016-11-29T20:06:51.543', 22, b'', b'', b'')
(15, 25, 2, b'2014-05-14T07:26:04.390', 7, 0, b"<p>Big Data is defined by the volume of data, that's right, but not only. The particularity of big data is that you need to store a <strong>lots</strong> of <strong>various</strong> and sometimes <strong>unstructured</strong> stuffs <strong>all", 104, b'2014-05-14T07:26:04.390', b'', b'', 0, 0, 0, b'', 0, 0, b'', 19, b'', b'', b'')
(16, 26, 2, b'2014-05-14T07:38:31.103', 14, 0, b'<p>A few gigabytes is not very "<strong>big</strong>". It\'s more like the normal size of an enterprise DB. As long as you go over PK when joining tables it should work out really well, even in the future (as long as you don\'t get TB\'s of data a', 115, b'2014-05-14T11:03:51.577', b'', b'', 0, 0, 0, b'', 0, 115, b'2014-05-14T11:03:51.577', 20, b'', b'', b'')
(17, 27, 2, b'2014-05-14T07:53:02.560', 10, 0, b'<p>To answer this question you have to answer which kind of compromise you can afford. RDBMs implements <a href="http://en.wikipedia.org/wiki/ACID">ACID</a>. This is expensive in terms of resources. There are no NoSQL solutions which are ACID. ', 108, b'2014-05-14T08:03:37.890', b'', b'', 0, 0, 0, b'', 0, 14, b'2014-05-14T08:03:37.890', 20, b'', b'', b'')
(18, 28, 2, b'2014-05-14T07:55:40.133', 6, 0, b'<p>There is free ebook "<a href="http://jsresearch.net/" rel="noreferrer">Introduction to Data Science</a>" based on <a href="/questions/tagged/r" class="post-tag" title="show questions tagged &#39;r&#39;" rel="tag">r</a> language</p>', 118, b'2014-05-14T07:55:40.133', b'', b'', 0, 0, 0, b'', 0, 0, b'', 7, b'', b'', b'')
(19, 29, 2, b'2014-05-14T07:56:34.437', 24, 0, b'<p><a href="https://datascience.stackexchange.com/users/36/statsrus">@statsRus</a> starts to lay the groundwork for your answer in another question <a href="https://datascience.stackexchange.com/questions/1/what-characterises-the-difference-bet', 53, b'2014-05-14T07:56:34.437', b'', b'', 0, 0, 0, b'', 0, -1, b'2017-04-13T12:50:41.230', 14, b'', b'', b'')
(20, 30, 2, b'2014-05-14T08:03:28.117', 20, 0, b'', 26, b'2014-05-14T18:30:59.180', b'', b'', 0, 3, 0, b'', 0, 26, b'2014-05-14T18:30:59.180', 19, b'', b'', b'')
(21, 31, 1, b'2014-05-14T08:38:07.007', 9, 1190, b'<p>I have a bunch of customer profiles stored in a <a href="/questions/tagged/elasticsearch" class="post-tag" title="show questions tagged &#39;elasticsearch&#39;" rel="tag">elasticsearch</a> cluster. These profiles are now used for creation of', 118, b'2014-05-15T05:49:39.140', b'Clustering customer data stored in ElasticSearch', b'<data-mining><clustering>', 1, 4, 1, b'', 72, 24, b'2014-05-15T05:49:39.140', 0, b'', b'', b'')
(22, 33, 2, b'2014-05-14T09:34:15.477', 6, 0, b'<p>Is it the time to move to NoSQL will depends on 2 things: </p><ol><li>The nature/structure of your data</li><li>Your current performance</li></ol><p>SQL databases excel when the data is well structured (e.g. when it can be modeled as a table', 132, b'2017-08-29T11:26:37.137', b'', b'', 0, 0, 0, b'', 0, 132, b'2017-08-29T11:26:37.137', 20, b'', b'', b'')
(23, 35, 1, b'2014-05-14T09:51:54.753', 18, 346, b'<p>In working on exploratory data analysis, and developing algorithms, I find that most of my time is spent in a cycle of visualize, write some code, run on small dataset, repeat.   The data I have tends to be computer vision/sensor fusion type', 26, b'2014-05-20T03:56:43.147', b'How to scale up algorithm development?', b'<algorithms>', 3, 0, 3, b'', 0, 0, b'', 0, b'', b'', b'')
(24, 37, 2, b'2014-05-14T10:41:23.823', 77, 0, b'<p>To me (coming from a relational database background), "Big Data" is not primarily about the data size (which is the bulk of what the other answers are so far).</p><p>"Big Data" and "Bad Data" are closely related. Relational Databases require', 9, b'2018-05-01T13:04:43.563', b'', b'', 0, 4, 0, b'', 0, 51450, b'2018-05-01T13:04:43.563', 19, b'', b'', b'')
(25, 38, 1, b'2014-05-14T10:44:58.933', 14, 2985, b'<p>I heard about many tools / frameworks for helping people to process their data (big data environment). </p><p>One is called Hadoop and the other is the noSQL concept. What is the difference in point of processing? </p><p>Are they complementa', 134, b'2015-05-18T12:30:19.497', b'What is the difference between Hadoop and noSQL', b'<nosql><tools><processing><apache-hadoop>', 2, 2, 2, b'', 43, 134, b'2014-05-14T22:26:59.453', 0, b'', b'', b'')
(26, 40, 2, b'2014-05-14T11:12:03.880', 8, 0, b'<p>Big Data is actually not so about the "how big it is". </p><p>First, few gigabytes is not big at all, it\'s almost nothing. So don\'t bother yourself, your system will continu to work efficiently for some time I think.</p><p>Then you have to t', 104, b'2014-05-14T11:12:03.880', b'', b'', 0, 0, 0, b'', 0, 0, b'', 20, b'', b'', b'')
(27, 41, 1, b'2014-05-14T11:15:40.907', 43, 4571, b'<p>R has many libraries which are aimed at Data Analysis (e.g. JAGS, BUGS, ARULES etc..), and is mentioned in popular textbooks such as: J.Krusche, Doing Bayesian Data Analysis; B.Lantz, "Machine Learning with R".</p><p>I\'ve seen a guideline of', 136, b'2015-04-12T05:00:23.663', b'Is the R language suitable for Big Data', b'<bigdata><r>', 8, 1, 18, b'', 44, 118, b'2014-05-14T13:06:28.407', 0, b'', b'', b'')
(28, 42, 2, b'2014-05-14T11:21:31.500', 5, 0, b'<p>NoSQL is a way to store data that does not require there to be some sort of relation. The simplicity of its design and horizontal scale-ability, one way they store data is the <code>key : value</code> pair design. This lends itself to proces', 59, b'2014-05-14T11:21:31.500', b'', b'', 0, 0, 0, b'', 0, 0, b'', 38, b'', b'', b'')
(29, 43, 2, b'2014-05-14T11:23:25.913', 15, 0, b'<p><strong>Hadoop is not a database</strong>, hadoop is an entire ecosystem.</p><p><img src="https://i.stack.imgur.com/oOYp7.png" alt="the hadoop ecosystem"></p><p>Most people will refer to <a href="http://de.wikipedia.org/wiki/MapReduce" rel="', 115, b'2015-05-18T12:30:19.497', b'', b'', 0, 0, 0, b'', 0, 115, b'2015-05-18T12:30:19.497', 38, b'', b'', b'')
(30, 44, 2, b'2014-05-14T11:24:39.530', 40, 0, b"<p>Actually this is coming around. In the book R in a Nutshell there is even a section on using R with Hadoop for big data processing. There are some work arounds that need to be done because R does all it's work in memory, so you are basically", 59, b'2015-01-31T11:34:03.700', b'', b'', 0, 3, 0, b'', 0, 2522, b'2015-01-31T11:34:03.700', 41, b'', b'', b'')
(31, 45, 2, b'2014-05-14T11:26:40.580', 6, 0, b'<p>First off, if your data has as many variations (in function of time, context, and others) as to make it hard to apply a single strategy to cope with it, you may be interested in doing a prior temporal/contextual/... characterization of the d', 84, b'2014-05-14T11:33:27.770', b'', b'', 0, 0, 0, b'', 0, 84, b'2014-05-14T11:33:27.770', 35, b'', b'', b'')
(32, 46, 2, b'2014-05-14T12:32:29.503', 11, 0, b'<p>Note that there is an early version of LIBLINEAR ported to <a href="http://spark.apache.org">Apache Spark</a>. See <a href="http://apache-spark-user-list.1001560.n3.nabble.com/Spark-LIBLINEAR-td5546.html">mailing list comments</a> for some e', 21, b'2014-05-14T21:03:05.313', b'', b'', 0, 3, 0, b'', 0, 21, b'2014-05-14T21:03:05.313', 16, b'', b'', b'')
(33, 47, 2, b'2014-05-14T12:39:41.197', 30, 0, b'<p>The main problem with using R for large data sets is the RAM constraint. The reason behind keeping all the data in RAM is that it provides much faster access and data manipulations than would storing on HDDs. If you are willing to take a hit', 62, b'2014-05-14T12:39:41.197', b'', b'', 0, 1, 0, b'', 0, 0, b'', 41, b'', b'', b'')
(34, 48, 5, b'2014-05-14T13:08:26.647', 0, 0, b'<p><a href="http://www.r-project.org" rel="nofollow">R</a> is a language and environment for statistical computing and graphics. It is a GNU project which is similar to the S language and environment which was developed at Bell Laboratories (fo', 201, b'2014-08-16T17:29:43.517', b'', b'', 0, 0, 0, b'', 0, 2961, b'2014-08-16T17:29:43.517', 0, b'', b'', b'')
(35, 49, 4, b'2014-05-14T13:08:26.647', 0, 0, b'R is a free, open-source programming language and software environment for statistical computing, bioinformatics, and graphics.', 2961, b'2014-08-15T16:38:27.880', b'', b'', 0, 0, 0, b'', 0, 2961, b'2014-08-15T16:38:27.880', 0, b'', b'', b'')
(36, 50, 1, b'2014-05-14T14:26:54.313', 6, 490, b'<p>I have an R script that generates a report based on the current contents of a database. This database is constantly in flux with records being added/deleted many times each day. How can I ask my computer to run this every night at 4 am so th', 151, b'2014-05-14T15:42:02.393', b'Running an R script programmatically', b'<r><databases><efficiency><tools>', 2, 1, 0, b'2017-08-29T10:27:14.067', 53, 0, b'', 0, b'', b'', b'')
(37, 51, 2, b'2014-05-14T14:48:32.180', 9, 0, b'<blockquote>  <p>How can I ask my computer to run this every night at 4 am so that I have an up to date report waiting for me in the morning?</p></blockquote><p>You can set up a cronjob on a Linux system. These are run at the set time, if the c', 62, b'2014-05-14T14:57:32.243', b'', b'', 0, 2, 0, b'', 0, -1, b'2017-05-23T12:38:53.587', 50, b'', b'', b'')
(38, 52, 1, b'2014-05-14T15:25:21.700', 33, 2922, b'<p>From my limited dabbling with data science using R, I realized that cleaning bad data is a very important part of preparing data for analysis. </p><p>Are there any best practices or processes for cleaning data before processing it? If so, ar', 157, b'2017-01-23T06:27:10.313', b'Organized processes to clean data', b'<r><data-cleaning>', 7, 2, 18, b'', 0, 136, b'2014-05-16T13:45:07.447', 0, b'', b'', b'')
(39, 53, 2, b'2014-05-14T15:42:02.393', 10, 0, b'<p>For windows, use the task scheduler to set the task to run for example daily at 4:00 AM</p><p>It gives you many other options regarding frequency etc.<a href="http://en.wikipedia.org/wiki/Windows_Task_Scheduler">http://en.wikipedia.org/wiki/', 116, b'2014-05-14T15:42:02.393', b'', b'', 0, 0, 0, b'', 0, 0, b'', 50, b'', b'', b'')
(40, 57, 2, b'2014-05-14T16:29:39.927', 16, 0, b'<p>From my point of view, this question is suitable for a two-step answer. The first part, let us call it <em>soft preprocessing</em>, could be taken as the usage of different data mining algorithms to preprocess data in such a way that makes i', 84, b'2014-05-14T16:29:39.927', b'', b'', 0, 6, 0, b'', 0, 0, b'', 52, b'', b'', b'')
(41, 58, 2, b'2014-05-14T17:06:33.337', 11, 0, b'<p>You can check out <a href="http://hunch.net/~vw/">vowpal wabbit</a>. It is quite popular for large-scale learning and includes parallel provisions.</p><p>From their website:</p><blockquote>  <p>VW is the essence of speed in machine learning,', 119, b'2014-05-14T17:06:33.337', b'', b'', 0, 1, 0, b'', 0, 0, b'', 16, b'', b'', b'')
(42, 59, 1, b'2014-05-14T17:48:21.240', 10, 964, b'', 158, b'2014-07-26T15:10:51.000', b"What are R's memory constraints?", b'<apache-hadoop><r>', 3, 1, 0, b'', 316, 62, b'2014-07-26T15:10:51.000', 0, b'', b'', b'')
(43, 60, 2, b'2014-05-14T17:58:48.297', 7, 0, b"<p>R performs all computation in-memory so you can't perform operation on a dataset that is larger than available RAM amount. However there are some libraries that allow bigdata processing using R and one of popular libraries for bigdata proces", 118, b'2014-05-14T17:58:48.297', b'', b'', 0, 0, 0, b'', 0, 0, b'', 59, b'', b'', b'')
(44, 61, 1, b'2014-05-14T18:09:01.940', 45, 7809, b'<p>Logic often states that by overfitting a model, its capacity to generalize is limited, though this might only mean that overfitting stops a model from improving after a certain complexity. Does overfitting cause models to become worse regard', 158, b'2017-09-17T02:27:31.110', b'Why Is Overfitting Bad in Machine Learning?', b'<machine-learning><predictive-modeling>', 8, 16, 17, b'', 62, -1, b'2017-04-13T12:50:41.230', 0, b'', b'', b'')
(45, 62, 2, b'2014-05-14T18:27:56.043', 43, 0, b'<p>Overfitting is <em>empirically</em> bad.  Suppose you have a data set which you split in two, test and training.  An overfitted model is one that performs much worse on the test dataset than on training dataset.  It is often observed that mo', 26, b'2015-02-12T07:08:27.463', b'', b'', 0, 0, 0, b'', 0, 26, b'2015-02-12T07:08:27.463', 61, b'', b'', b'')
(46, 64, 2, b'2014-05-14T18:37:52.333', 17, 0, b"<p>Overfitting, in a nutshell, means take into account <strong>too much</strong> information from your data and/or prior knowledge, and use it in a model. To make it more straightforward, consider the following example: you're hired by some sci", 84, b'2014-05-15T23:22:39.427', b'', b'', 0, 0, 0, b'', 0, 84, b'2014-05-15T23:22:39.427', 61, b'', b'', b'')
(47, 65, 5, b'2014-05-14T18:45:23.917', 0, 0, b'', -1, b'2014-05-14T18:45:23.917', b'', b'', 0, 0, 0, b'', 0, -1, b'2014-05-14T18:45:23.917', 0, b'', b'', b'')
(48, 66, 4, b'2014-05-14T18:45:23.917', 0, 0, b'Big data is the term for a collection of data sets so large and complex that it becomes difficult to process using on-hand database management tools or traditional data processing applications. The challenges include capture, curation, storage,', 118, b'2014-05-16T13:45:57.450', b'', b'', 0, 0, 0, b'', 0, 118, b'2014-05-16T13:45:57.450', 0, b'', b'', b'')
(49, 67, 5, b'2014-05-14T18:48:42.263', 0, 0, b'', -1, b'2014-05-14T18:48:42.263', b'', b'', 0, 0, 0, b'', 0, -1, b'2014-05-14T18:48:42.263', 0, b'', b'', b'')
(50, 68, 4, b'2014-05-14T18:48:42.263', 0, 0, b'', -1, b'2014-05-14T18:48:42.263', b'', b'', 0, 0, 0, b'', 0, -1, b'2014-05-14T18:48:42.263', 0, b'', b'', b'')

In [33]:
# using Pandas to import H5 data
import pandas as pd

In [35]:
posts_hdf = pd.read_hdf('./files/posts-100.h5','posts')

In [36]:
posts_hdf.columns  # equivalent to posts_hdf.keys()

Index(['Id', 'PostTypeId', 'CreationDate', 'Score', 'ViewCount', 'Body',
       'OwnerUserId', 'LastActivityDate', 'Title', 'Tags', 'AnswerCount',
       'CommentCount', 'FavoriteCount', 'ClosedDate', 'AcceptedAnswerId',
       'LastEditorUserId', 'LastEditDate', 'ParentId', 'CommunityOwnedDate',
       'LastEditorDisplayName', 'OwnerDisplayName'],
      dtype='object')

In [40]:
# use arguments for start, stop, columns
pd.read_hdf('./files/posts-100.h5','posts',start=2,stop=5,columns=['CreationDate','Title','Tags']).head()

,CreationDate,Title,Tags
2,2014-05-14T00:36:31.077,,
3,2014-05-14T00:53:43.273,,
4,2014-05-14T01:25:59.677,Is Data Science the Same as Data Mining?,<data-mining><definitions>

In [42]:
# more arguments: mode, where
pd.read_hdf('./files/posts-100.h5','posts',mode='r',columns=['Score','Tags'],where='Score>10 or Tags="<machine-learning>"').head()

   Score                                             Tags
0      9                               <machine-learning>
3     12
4     21                       <data-mining><definitions>
6     18              <machine-learning><bigdata><libsvm>
9     73  <bigdata><scalability><efficiency><performance>

### Importing MATLAB (MATrix LABoratory) data using SciPy

In [44]:
import scipy.io

In [45]:
posts_mat = scipy.io.loadmat('./files/posts-100.mat')

In [46]:
type(posts_mat)

dict

In [47]:
posts_mat.keys()

dict_keys(['__header__', '__version__', '__globals__', 'posts'])

In [48]:
type(posts_mat['posts'])

numpy.ndarray

In [49]:
posts_mat['posts']

array([[(array([[  0.,  10.,   0.,   0.,  29.,   0.,  46.,   0.,   0.,  37.,  26.,
          0.,  24.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  72.,
          0.,   0.,   0.,  43.,   0.,  44.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,  53.,   0.,   0.,   0.,   0.,   0., 316.,   0.,
         62.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  84.,   0.,
          0.,   0.,  78., 139.,  87.,   0.,   0.,   0.,  82.,   0.,   0.,
          0.,   0., 101.,   0.,  91.,   0.,   0.,   0.,   0.,  97.,   0.,
          0.,   0.,   0., 111.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0., 122., 131., 121.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.]]), array([[ 1.,  3.,  0.,  0.,  4.,  0.,  2.,  0.,  0., 12.,  5.,  0.,  9.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  3.,  0.,  2.,
         0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  2.,  0.,  7.,
         0.,  0.,  0.,  3.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
         0.,  3.,  0.,  0.,  0.,  2.,  1.,  2.,  0.,  0.,  0.,  3.,  0.,
         0.,  0.,  0.,  2.,  0.,  3.,  0.,  0.,  0.,  0.,  3.,  0.,  0.,
         0.,  0.,  1.,  4.,  0.,  0.,  0.,  2.,  0.,  0.,  0.,  0.,  1.,
         2.,  6.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]]), array([[ 1,  4,  0,  1,  1,  1,  0,  0,  0,  5,  1,  0,  3,  0,  9,  0,
         0,  0,  0,  0,  3,  4,  0,  0,  4,  2,  0,  1,  0,  0,  3,  0,
         3,  1,  0,  0,  1,  2,  2,  0,  6,  1,  1,  0, 16,  0,  0,  0,
         0,  0,  0,  2,  4,  3,  0,  0,  0,  0,  6,  0,  0,  0,  0,  0,
         0,  0,  1,  1,  0,  0,  0,  0,  2,  3,  3,  0,  0,  0,  0,  2,
         3,  7,  0,  0,  0,  0,  0,  0,  1,  1,  2,  5,  3,  0,  0,  1,
         2,  0,  0,  0]]), array([[ 1.,  1.,  0.,  0.,  4.,  0.,  0.,  0.,  0., 20.,  1.,  0., 80.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  3.,  0.,  2.,
         0., 18.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 18.,
         0.,  0.,  0.,  0.,  0., 17.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  3.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  2.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
         0.,  0.,  0.,  2.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         1., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]]), array([[  5,   7,   9,  10,  14,  15,  16,  17,  18,  19,  20,  21,  22,
         23,  24,  25,  26,  27,  28,  29,  30,  31,  33,  35,  37,  38,
         40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
         53,  57,  58,  59,  60,  61,  62,  64,  65,  66,  67,  68,  69,
         70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,
         83,  84,  85,  86,  87,  89,  90,  91,  92,  93,  94,  95,  96,
         97, 101, 102, 103, 104, 105, 106, 107, 108, 109, 111, 112, 113,
        115, 116, 118, 119, 120, 121, 122, 123, 124]]), array([[0.0000e+00, 9.7000e+01, 0.0000e+00, 0.0000e+00, 3.2200e+02,
        0.0000e+00, 8.4000e+01, 6.3000e+01, 0.0000e+00, 1.0119e+04,
        0.0000e+00, 0.0000e+00, 9.7000e+01, 0.0000e+00, 1.4000e+01,
        0.0000e+00, 1.1500e+02, 1.4000e+01, 0.0000e+00, 0.0000e+00,
        2.6000e+01, 2.4000e+01, 1.3200e+02, 0.0000e+00, 5.1450e+04,
        1.3400e+02, 0.0000e+00, 1.1800e+02, 0.0000e+00, 1.1500e+02,
        2.5220e+03, 8.4000e+01, 2.1000e+01, 0.0000e+00, 2.9610e+03,
        2.9610e+03, 0.0000e+00, 0.0000e+00, 1.3600e+02, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 6.2000e+01, 0.0000e+00, 0.0000e+00,
        2.6000e+01, 8.4000e+01, 0.0000e+00, 1.1800e+02, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 1.1800e+02, 1.1800e+02,
        0.0000e+00, 3.1170e+03, 5.3000e+01, 1.1800e+02, 1.7200e+02,
        0.0000e+00, 2.6000e+01, 0.0000e+00, 1.1600e+02, 0.0000e+00,
        1.8900e+02, 0.0000e+00, 8.4000e+01, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.1500e+02, 1.5800e+02, 0.0000e+00,
        2.2900e+02, 0.0000e+00, 5.3000e+01, 5.3000e+01, 0.0000e+00,
        1.1800e+02, 0.0000e+00, 2.0000e+02, 2.6000e+01, 0.0000e+00,
        3.1513e+04, 0.0000e+00, 1.7300e+02, 3.8100e+02, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 5.3000e+01, 5.3000e+01]]), array([[   5.,   36.,   51.,   22.,   66.,   64.,   63.,   63.,    0.,
          84.,   96.,   14.,   97.,   97.,   14.,  104.,  115.,  108.,
         118.,   53.,   26.,  118.,  132.,   26.,    9.,  134.,  104.,
         136.,   59.,  115.,   59.,   84.,   21.,   62.,  201., 2961.,
         151.,   62.,  157.,  116.,   84.,  119.,  158.,  118.,  158.,
          26.,   84.,    0.,  118.,    0.,    0.,  158.,  178.,  179.,
          22.,   14.,   64.,  158.,  158.,  158.,  178.,   53.,   53.,
          84.,  172.,   26.,   26.,   26.,  116.,  108.,  189.,  156.,
          84.,   21.,   21.,   84.,    9.,  115.,  158.,   92.,  199.,
         113.,   53.,   53.,   34.,  200.,    0.,  200.,   26.,   70.,
         199.,  212.,  173.,  201.,    0.,   92.,   92.,  180.,   53.,
          53.]]), array([[  0.,   0.,   5.,   7.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         19.,   0.,   7.,  22.,  19.,  20.,  20.,   7.,  14.,  19.,   0.,
         20.,   0.,  19.,   0.,  20.,   0.,  38.,  38.,  41.,  35.,  16.,
         41.,   0.,   0.,   0.,  50.,   0.,  50.,  52.,  16.,   0.,  59.,
          0.,  61.,  61.,   0.,   0.,   0.,   0.,   0.,  69.,   0.,  31.,
         71.,  71.,   0.,   0.,   0.,  75.,   0.,   0.,   0.,  81.,  20.,
         71.,  75.,   0.,  77.,   0.,  81.,  89.,  89.,  86.,   0.,  94.,
         94.,  94.,  86.,   0.,   0.,   0.,   0.,  14.,   0.,   0.,   0.,
        102., 107.,   0.,   0.,   0.,   0.,   0., 115., 116., 113.,   0.,
          0.]]), array([[1, 1, 2, 2, 1, 1, 1, 5, 4, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1,
        2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 5, 4, 1, 2, 1, 2, 2, 2, 1, 2,
        1, 2, 2, 5, 4, 5, 4, 1, 2, 1, 2, 2, 2, 1, 1, 1, 2, 5, 4, 1, 2, 2,
        2, 2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 5, 4, 2, 1, 5, 4,
        2, 2, 1, 1, 1, 5, 4, 2, 2, 2, 5, 4]]), array([[ 9.,  4.,  5., 12., 21.,  2., 18.,  0.,  0., 73., 17., 29., 99.,
         8., 89.,  7., 14., 10.,  6., 24., 20.,  9.,  6., 18., 77., 14.,
         8., 43.,  5., 15., 40.,  6., 11., 30.,  0.,  0.,  6.,  9., 33.,
        10., 16., 11., 10.,  7., 45., 43., 17.,  0.,  0.,  0.,  0.,  2.,
         2., 13.,  5.,  4.,  2.,  4.,  6.,  9.,  5.,  0.,  0., 15., 16.,
         8.,  8.,  3., 12.,  7., 10.,  4., 12.,  9.,  6., 17.,  5.,  7.,
        14.,  8.,  6., 16.,  0.,  0.,  6., 11.,  1.,  0.,  8.,  8., 14.,
        10., 26.,  0.,  0.,  5., 17., 10.,  0.,  0.]]), array([[4.48000e+02, 3.88000e+02, 0.00000e+00, 0.00000e+00, 1.24300e+03,
        5.43000e+02, 3.22000e+02, 0.00000e+00, 0.00000e+00, 7.99300e+03,
        3.11000e+02, 0.00000e+00, 1.05748e+05, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.19000e+03, 0.00000e+00, 3.46000e+02, 0.00000e+00,
        2.98500e+03, 0.00000e+00, 4.57100e+03, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 4.90000e+02, 0.00000e+00, 2.92200e+03, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 9.64000e+02, 0.00000e+00, 7.80900e+03,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 8.00000e+01, 0.00000e+00, 3.64000e+02, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.37000e+02, 1.63000e+02, 5.72000e+02,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 5.91000e+02, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.45100e+03, 0.00000e+00,
        3.34000e+02, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.23000e+02, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        4.49000e+02, 3.86100e+03, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.03000e+02, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.76000e+02, 1.13500e+03, 2.66600e+03, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00]]))]],
      dtype=[('AcceptedAnswerId', 'O'), ('AnswerCount', 'O'), ('CommentCount', 'O'), ('FavoriteCount', 'O'), ('Id', 'O'), ('LastEditorUserId', 'O'), ('OwnerUserId', 'O'), ('ParentId', 'O'), ('PostTypeId', 'O'), ('Score', 'O'), ('ViewCount', 'O')])

In [50]:
posts_mat['posts'].shape

(1, 1)

In [53]:
posts_mat['posts'].size

1

### Importing Pickle data using pickle package and pandas

Pickle ([doc](https://docs.python.org/3/library/pickle.html)):
* User for serializing and deserializing objects
* Convenient, binary format
* Python specific
* Supports compression

Using the pickle module:
* Open the file, using 'rb'  (read, binary)

In [54]:
import pickle

In [59]:
with open('./files/posts-100.pkl.gz','rb') as pickle_file:
    df_pickle = pickle.load(pickle_file)
    
# original object that was serialized to the pickle file was a dataframe, so the result of load is the original dataframe
type(df_pickle)

pandas.core.frame.DataFrame

In [58]:
df_pickle.head(1)

,Id,PostTypeId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastActivityDate,Title,Tags,...,CommentCount,FavoriteCount,ClosedDate,AcceptedAnswerId,LastEditorUserId,LastEditDate,ParentId,CommunityOwnedDate,LastEditorDisplayName,OwnerDisplayName
0,5,1,2014-05-13T23:58:30.457,9,448,<p>I've always been interested in machine lear...,5,2014-05-14T00:36:31.077,How can I do simple machine learning without h...,<machine-learning>,...,1,1,2014-05-14T14:40:25.950,0,0,,0,,,

In [60]:
df_pickle.columns

Index(['Id', 'PostTypeId', 'CreationDate', 'Score', 'ViewCount', 'Body',
       'OwnerUserId', 'LastActivityDate', 'Title', 'Tags', 'AnswerCount',
       'CommentCount', 'FavoriteCount', 'ClosedDate', 'AcceptedAnswerId',
       'LastEditorUserId', 'LastEditDate', 'ParentId', 'CommunityOwnedDate',
       'LastEditorDisplayName', 'OwnerDisplayName'],
      dtype='object')

In [62]:
# use pandas to load pickle file
import pandas as pd

In [63]:
pickle_df = pd.read_pickle('./files/posts-100.pkl')
pickle_df.head(1)

,AcceptedAnswerId,AnswerCount,CommentCount,FavoriteCount,Id,LastEditorUserId,OwnerUserId,ParentId,PostTypeId,Score,ViewCount
0,NaN,1,1,1,5,NaN,5,NaN,1,9,448