## Using [SqlAlchemy](https://www.sqlalchemy.org/)
* Is a python sql toolkit  
* Works with multiple databases: 
    * covered in this notebook: sqlite, PostgresQL, MySQL
    * Also works with: Oracle, Microsoft SQL Server, Firebird, Sybase (and others...)

In [11]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('sqlite:///./files/importing_sqlite.db')  # connection string of form: '<dialect>///<filepath>'

In [3]:
type(engine)

sqlalchemy.engine.base.Engine

In [5]:
# dir(engine) # inspect engine properties

In [6]:
# get table names
engine.table_names()

['posts', 'tags', 'users']

In [9]:
# additional engine info
print(engine.url)
print(engine.dialect) # dialect of sql used by database
print(engine.driver)

sqlite:///./files/importing_sqlite.db
<sqlalchemy.dialects.sqlite.pysqlite.SQLiteDialect_pysqlite object at 0x000001A5BECF6B00>
pysqlite

In [12]:
# import specific list of columns
posts = pd.read_sql_table('posts', engine, columns=['Id','CreationDate','Tags'])

In [14]:
posts.head(2)

  Id             CreationDate                      Tags
0  5  2014-05-13T23:58:30.457        <machine-learning>
1  7  2014-05-14T00:11:06.457  <education><open-source>

In [19]:
type(posts['CreationDate'].loc[0])

str

In [20]:
# convert string column into a Timestamp
posts = pd.read_sql_table('posts', engine, columns=['Id','CreationDate','Tags'],
                          parse_dates={'CreationDate': {'format': '%Y-%m-%dT%H:%M:%S.%f'}})
type(posts['CreationDate'].loc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
posts['CreationDate'].loc[0]

Timestamp('2014-05-13 23:58:30.457000')