In [55]:
import pandas as pd

import os
os.getcwd()

'C:\\Users\\mkozi\\OneDrive\\Training\\Pluralsight\\Cleaning Data - Python Data Playbook\\MyNotebooks'

In [56]:
data = pd.read_csv('../cleaning-data-python-data-playbook/artwork_sample.csv')
data.head(2)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [9]:
data.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear         int64
dimensions             object
width                   int64
height                  int64
depth                 float64
units                  object
inscription           float64
thumbnailCopyright    float64
thumbnailUrl           object
url                    object
dtype: object

In [17]:
data.get_dtype_counts()

float64     4
int64       5
object     11
dtype: int64

In [18]:
data.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url'],
      dtype='object')

In [30]:
# convert column to different type
data['acquisitionYear'].astype(float)  # return a new series (doesn't change the series)

0    1922.0
1    1922.0
2    1922.0
3    1922.0
4    1919.0
5    1919.0
6    1919.0
7    1919.0
8    1919.0
9    1919.0
Name: acquisitionYear, dtype: float64

In [31]:
data['acquisitionYear'].dtype

dtype('int64')

In [32]:
data['acquisitionYear'] = data['acquisitionYear'].astype(float) # change the source dataframe

In [33]:
data['acquisitionYear'].dtype

dtype('float64')

In [37]:
fulldf = pd.read_csv('../cleaning-data-python-data-playbook/artwork_data.csv',low_memory=False)

In [38]:
fulldf.dtypes  # less columns with specific data types - some columns contained mixed type data

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [58]:
fulldf.get_dtype_counts()

float64     3
int64       2
object     15
dtype: int64

In [43]:
# raises error: ValueError: could not convert string to float: 'mm'
fulldf['height'].astype(float)

ValueError: could not convert string to float: 'mm'

In [44]:
fulldf[fulldf['height']=='mm']

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
41339,13941,N01836,"Stothard, Thomas",artist,531,Lady Reclining,date not known,Oil paint on canvas,Bequeathed by Henry Vaughan 1900,NaN,1900.0,support: 152 mm x 190 mm frame: 254 x 297 x 6...,152,mm,190.0,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/N/N01/N...,http://www.tate.org.uk/art/artworks/stothard-l...

In [46]:
# pandas to_numeric function - also has issue parsing 'mm' in 'height' column
pd.to_numeric(fulldf['height'])

ValueError: Unable to parse string "mm" at position 41339

In [59]:
# use parameter'errors' to force conversion
pd.to_numeric(fulldf['height'], errors='coerce').head(2)

0    419.0
1    213.0
Name: height, dtype: float64

In [48]:
# check the row that had height = 'mm' - it's been converted to nan
pd.to_numeric(fulldf['height'], errors='coerce')[41339]

nan

In [52]:
print(fulldf['height'].dtype)
fulldf['height'] = pd.to_numeric(fulldf['height'],errors='coerce')
print(fulldf['height'].dtype)

object
float64