In [53]:
import pandas as pd

In [54]:
df = pd.read_csv('../cleaning-data-python-data-playbook/artwork_sample.csv')

In [55]:
df.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url'],
      dtype='object')

In [56]:
df.rename(columns={'thumbnailUrl': 'thumbnail', 'thumbnailCopyright': 'copyright'}).columns  # rename specific column names

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'copyright', 'thumbnail', 'url'],
      dtype='object')

In [57]:
df2 = df.rename({'thumbnailUrl': 'thumbnail', 'thumbnailCopyright': 'copyright'}, axis=1).head(1)  # alternate arguments

In [58]:
df2.columns  # previous rename function calls are not permanent (returns new dataframe)

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'copyright', 'thumbnail', 'url'],
      dtype='object')

In [59]:
df.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url'],
      dtype='object')

In [60]:
df is df2

False

In [61]:
df.rename(columns={'thumbnailUrl': 'thumbnail', 'thumbnailCopyright': 'copyright'}, inplace=True)

In [62]:
df.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'copyright', 'thumbnail', 'url'],
      dtype='object')

In [63]:
df.head(1)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,copyright,thumbnail,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...

In [64]:
df.rename(columns=lambda x: x.upper(), inplace=True)  # rename can take a lambda that takes each column name
df.columns

Index(['ID', 'ACCESSION_NUMBER', 'ARTIST', 'ARTISTROLE', 'ARTISTID', 'TITLE',
       'DATETEXT', 'MEDIUM', 'CREDITLINE', 'YEAR', 'ACQUISITIONYEAR',
       'DIMENSIONS', 'WIDTH', 'HEIGHT', 'DEPTH', 'UNITS', 'INSCRIPTION',
       'COPYRIGHT', 'THUMBNAIL', 'URL'],
      dtype='object')

In [65]:
df.head(1)

,ID,ACCESSION_NUMBER,ARTIST,ARTISTROLE,ARTISTID,TITLE,DATETEXT,MEDIUM,CREDITLINE,YEAR,ACQUISITIONYEAR,DIMENSIONS,WIDTH,HEIGHT,DEPTH,UNITS,INSCRIPTION,COPYRIGHT,THUMBNAIL,URL
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...

In [66]:
# can directly set the dataframe columns to a list of strings
df.columns = ['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'copyright', 'thumbnail', 'url']

In [67]:
df.head(1)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,copyright,thumbnail,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...

In [68]:
# can set the column names when the data is read in using the names argument
#    if the file contains a header row, use 'header=0' to over-write the file's header row
df = pd.read_csv('../cleaning-data-python-data-playbook/artwork_sample.csv', names=['ID', 'ACCESSION_NUMBER', 'ARTIST', 'ARTISTROLE', 'ARTISTID', 'TITLE',
       'DATETEXT', 'MEDIUM', 'CREDITLINE', 'YEAR', 'ACQUISITIONYEAR',
       'DIMENSIONS', 'WIDTH', 'HEIGHT', 'DEPTH', 'UNITS', 'INSCRIPTION',
       'COPYRIGHT', 'THUMBNAIL', 'URL'], header=0)

In [69]:
df.head(2)

,ID,ACCESSION_NUMBER,ARTIST,ARTISTROLE,ARTISTID,TITLE,DATETEXT,MEDIUM,CREDITLINE,YEAR,ACQUISITIONYEAR,DIMENSIONS,WIDTH,HEIGHT,DEPTH,UNITS,INSCRIPTION,COPYRIGHT,THUMBNAIL,URL
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...