In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../cleaning-data-python-data-playbook/artwork_sample.csv')

In [3]:
df.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url'],
      dtype='object')

In [4]:
df.columns.str  # can use string methods on dataframe and series

In [5]:
df.columns.str.lower()   # lower case all column titles, doesn't permanently change df

Index(['id', 'accession_number', 'artist', 'artistrole', 'artistid', 'title',
       'datetext', 'medium', 'creditline', 'year', 'acquisitionyear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailcopyright', 'thumbnailurl', 'url'],
      dtype='object')

In [9]:
[x.lower() for x in df.columns]  # alternatively, can use a list comprehension

['id',
 'accession_number',
 'artist',
 'artistrole',
 'artistid',
 'title',
 'datetext',
 'medium',
 'creditline',
 'year',
 'acquisitionyear',
 'dimensions',
 'width',
 'height',
 'depth',
 'units',
 'inscription',
 'thumbnailcopyright',
 'thumbnailurl',
 'url']

In [12]:
df.columns = [x.lower() for x in df.columns]  # permanently change df column titles by setting 'columns' to list of strings

In [13]:
df.head(1)

,id,accession_number,artist,artistrole,artistid,title,datetext,medium,creditline,year,acquisitionyear,dimensions,width,height,depth,units,inscription,thumbnailcopyright,thumbnailurl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...

In [25]:
df = pd.read_csv('../cleaning-data-python-data-playbook/artwork_sample.csv')
df.head(1)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...

In [26]:
df.columns = map(lambda x: x.upper(), df.columns)  # can also use the map function with df.columns
df.head(1)

,ID,ACCESSION_NUMBER,ARTIST,ARTISTROLE,ARTISTID,TITLE,DATETEXT,MEDIUM,CREDITLINE,YEAR,ACQUISITIONYEAR,DIMENSIONS,WIDTH,HEIGHT,DEPTH,UNITS,INSCRIPTION,THUMBNAILCOPYRIGHT,THUMBNAILURL,URL
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...

In [21]:
df = pd.read_csv('../cleaning-data-python-data-playbook/artwork_sample.csv')
df.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url'],
      dtype='object')

In [23]:
import re
df.columns = [re.sub(r'([A-Z])', r'_\1', x).lower() for x in df.columns]  # change camelCase to snake_case titles
df.head(1)

,id,accession_number,artist,artist_role,artist_id,title,date_text,medium,credit_line,year,acquisition_year,dimensions,width,height,depth,units,inscription,thumbnail_copyright,thumbnail_url,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...