In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../cleaning-data-python-data-playbook/artwork_sample.csv')
df.head(2)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [4]:
df['id']  # return new data series for column 'id'

0    1035
1    1036
2    1037
3    1038
4    1039
5    1040
6    1041
7    1042
8    1043
9    1044
Name: id, dtype: int64

In [5]:
df['id'][1]  # get 2nd element of column 'id'

1036

In [9]:
df[['id','title']].info()  # return new dataframe with specific columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
id       10 non-null int64
title    10 non-null object
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [12]:
df[1:3]  # use slice to get a new dataframe, slice is inclusive/exclusive: [1,3) - includes 2nd row, but doesn't include 4th

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [15]:
df[1:3]['artist']  # square bracket with slice return dataframe, can use additional square bracket notation

1    Blake, Robert
2    Blake, Robert
Name: artist, dtype: object

In [23]:
df[df['year'] < 1800].head(3) # use logical expression inside brackets to return matching rows

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [24]:
df[df['year'] < 1800].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 2 to 2
Data columns (total 20 columns):
id                    1 non-null int64
accession_number      1 non-null object
artist                1 non-null object
artistRole            1 non-null object
artistId              1 non-null int64
title                 1 non-null object
dateText              1 non-null object
medium                1 non-null object
creditLine            1 non-null object
year                  1 non-null float64
acquisitionYear       1 non-null int64
dimensions            1 non-null object
width                 1 non-null int64
height                1 non-null int64
depth                 0 non-null float64
units                 1 non-null object
inscription           0 non-null float64
thumbnailCopyright    0 non-null float64
thumbnailUrl          1 non-null object
url                   1 non-null object
dtypes: float64(4), int64(5), object(11)
memory usage: 168.0+ bytes