In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../cleaning-data-python-data-playbook/artwork_sample.csv')

In [3]:
df.head(2)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [7]:
print(type(df['medium']))
df['medium']

<class 'pandas.core.series.Series'>

0    Watercolour, ink, chalk and graphite on paper....
1                                    Graphite on paper
2          Graphite on paper. Verso: graphite on paper
3                                    Graphite on paper
4                              Line engraving on paper
5                              Line engraving on paper
6                              Line engraving on paper
7                              Line engraving on paper
8                              Line engraving on paper
9                              Line engraving on paper
Name: medium, dtype: object

In [9]:
# pandas series provide a set of 'string methods'
df['medium'].str

In [10]:
df['medium'].str.contains('Graphite')

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: medium, dtype: bool

In [12]:
fltr = df['medium'].str.contains('Graphite')  # case sensitive contains by default
df.loc[fltr, ['id','artist','medium']]   # .loc takes a boolean series, which filters based on False rows being discarded

     id         artist                                       medium
1  1036  Blake, Robert                            Graphite on paper
2  1037  Blake, Robert  Graphite on paper. Verso: graphite on paper
3  1038  Blake, Robert                            Graphite on paper

In [14]:
df.loc[df['medium'].str.contains('Graphite',case=False), ['id','artist','medium']] # use case=False for case insensitive

     id         artist                                             medium
0  1035  Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1  1036  Blake, Robert                                  Graphite on paper
2  1037  Blake, Robert        Graphite on paper. Verso: graphite on paper
3  1038  Blake, Robert                                  Graphite on paper